mat-card {
    border: 1px dotted red;
    width: 540px;
    height: 80px;
    border-radius: 20px;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #2E3EDF;

}
