<div class="sign-up-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="desctop" src="./../../assets/Logo.png" alt="videoflix">
            <img class="mobile" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-in-button" (click)="logIn()">Log in</button>
    </div>

    <div class="header-contain">
        <div class="headline">
            <h1>Movies, TV shows, and more</h1>
            <h3>Watch whenever you want wherever you want</h3>
            <p>Enter your email to create or restart your subscription</p>

            <form class="signUp-contain">
                <div class="email-contain">
                    <input type="email" placeholder="Email Address">
                </div>
                <button class="signUp-button" (click)="signUp()">Sign Up ></button>
            </form>
        </div>
    </div>
</div>
