.vjs-icon-play,
.video-js .vjs-play-control .vjs-icon-placeholder,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    font-family: VideoJS !important;
}

.vjs-icon-play-circle {
    font-family: VideoJS !important;
}

.vjs-icon-pause,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder {
    font-family: VideoJS !important;
}

.vjs-icon-picture-in-picture-enter,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder {
    font-family: VideoJS !important;
}
.vjs-icon-fullscreen-enter,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder {
    font-family: VideoJS !important;
}

.vjs-icon-volume-mute,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder {
    font-family: VideoJS !important;
}

.vjs-icon-volume-high,
.video-js .vjs-mute-control .vjs-icon-placeholder {
    font-family: VideoJS !important;
}

.vjs-icon-circle,
.vjs-seek-to-live-control .vjs-icon-placeholder,
.video-js .vjs-volume-level,
.video-js .vjs-play-progress {
    font-family: VideoJS !important;
}

.video-js .vjs-control-bar .vjs-customButton {
    font-family: VideoJS !important;
}

.video-js .vjs-control-bar .vjs-customButton:hover {
    font-family: VideoJS !important;
}

.vjs-my-custom-icon {
    width: 20px !important; /* Breite des Icons */
    height: 20px !important; /* Höhe des Icons */
    background-image: url('/assets/speed.svg') !important; /* Pfad zu deinem benutzerdefinierten Icon */
    background-size: cover !important; /* Bild vollständig abdecken */
    display: inline-block !important; /* Damit das Element das Bild anzeigen kann */
    /* Optional: Weitere Stile hinzufügen */
    margin: 5px 5px !important;
  }

  .vjs-quality-menu {
    position: absolute;
    background-color: gray;
    z-index: 1000; /* Sicherstellen, dass das Menü über dem Video angezeigt wird */
    display: none; /* Standardmäßig versteckt */
    width: 100px; /* Setze eine feste Breite für das Menü */
    padding: 10px; /* Fügt Innenabstand hinzu */
    bottom: 5px;
    right: 0;
  }
  
  .vjs-quality-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .vjs-quality-list li {
    padding: 5px 10px;
    cursor: pointer;
  }
  