section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0;

    @media (min-width: 320px) and (max-width: 800px) {
    }
}
.footer-contain {
    height: 43px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    a {
        margin-right: 40px;
        text-decoration: none;
        color: #ffffff;
    }
}
