<div class="private-policy-contain" id="privacyPolicy">
    <div class="privacyPolicy-contain">
        <div class="back-contain">
            <h2>Datenschutzerklärung</h2>
            <img src="/assets/arrow.ico" alt="button um zu dem startmenu zu gelanden" (click)="back()">
        </div>
        <br>
        <h3>Allgemeine Informationen:</h3>
        <span>Die Nutzung unserer Seiten ist in eingeschränkter Form ohne Angabe personenbezogener Daten möglich. Soweit
            auf
            unseren Seiten oder Formularen personenbezogene Daten (beispielsweise Name, Anschrift, Geburtsdatum oder
            E-Mail-Adressen) erhoben werden, erfolgt dies stets auf freiwilliger Basis.</span>

        <span>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich.
            Wir haben technische und betriebliche Schutzvorkehrungen getroffen, um Ihre Daten vor zufälligen oder
            vorsätzlichen
            Manipulationen, Verlust, Zerstörung oder dem Zugriff unberechtigter Personen zu schützen. Unsere
            Sicherheitsverfahren werden regelmäßig überprüft und dem technologischen Fortschritt angepasst.</span>

        <span>Wir verarbeiten nur die personenbezogenen Daten, die wir im Rahmen Ihres Besuchs unserer Seiten oder durch
            Ihre
            sonstigen Angaben freiwillig von Ihnen erhalten.</span>
        <br>
        <br>
        <h3>Hosting:</h3>
        <span>Hostinganbieter: ALL-INKL.COM, Hauptstraße 68, D-02742 Friedersdorf</span>

        <br>
        <br>
        <h3>Allgemeine Hinweise & Pflicht­informationen:</h3>
        <span>Hinweis zur Verantwortlichen Stelle</span>

        <span>Verantwortlicher im Sinne der Datenschutz-Grundverordnung (DSGVO) ist:Juri Sajzew</span>
        <br>
        <br>
        <h3>Speicherdauer</h3>
        <span>Für den Fall, dass in dieser Datenschutzerklärung keine speziellen Speicherfristen angeführt sind,
            speichern
            wir
            Ihre personenbezogenen Daten, soweit erforderlich, für die Dauer der gesamten Geschäftsbeziehung gemäß den
            gesetzlichen Aufbewahrungsfristen und Dokumentationspflichten bzw. so lange darüber hinaus ein berichtigtes
            Interesse zur Verarbeitung besteht. Rechtlich erforderliche Aufbewahrungsfristen können sich dabei zudem
            etwa
            aus
            den bürgerlichen oder handelsrechtlichen Gesetzen ergeben.</span>
        <br>
        <br>
        <h3>Rechtsgrundlagen der Datenverarbeitung:</h3>
        <span>Wir verarbeiten Ihre Daten zur Erfüllung vertraglicher Pflichten (Art 6 Abs 1b DSGVO), im Rahmen Ihrer
            Einwilligung / Registrierung (Art 6 Abs 1a DSGVO) sowie gegebenenfalls zur Erfüllung rechtlicher
            Verpflichtungen
            (Art 6 Abs 1c DSGVO). Weiters können wir Ihre Daten zur Wahrung berechtigter Interessen (Art 6 Abs 1f DSGVO)
            für
            Werbung oder Markt- und Meinungsforschung, soweit Sie einer Nutzung nicht nach Art 21 DSGVO widersprochen
            haben,
            verarbeiten. Im Falle Ihrer ausdrücklichen Einwilligung für die Übermittlung personenbezogener Daten in
            Drittstaaten, basiert die Datenverarbeitung außerdem auf Art 49 Abs. 1a DSGVO. </span>
        <br>
        <br>
        <h3>Betroffene Rechte:</h3>
        <span>Widerruf Ihrer Einwilligung zur Datenverarbeitung / Widerspruchsrecht gegen die Datenerhebung (Art 21) /
            Beschwerderecht bei der zuständigen Aufsichtsbehörde / Recht auf Datenübertragbarkeit Auskunft, Berichtung &
            Löschung / Recht auf Einschränkung der Verarbeitung</span>

        <span>Sie sind unter anderem berechtigt, (i) zu überprüfen, ob und welche personenbezogenen Daten wir über Sie
            gespeichert haben und Kopien dieser Daten zu erhalten, (ii) die Berichtigung, Ergänzung oder das Löschen
            Ihrer
            personenbezogenen Daten, die falsch sind oder nicht rechtskonform verarbeitet werden, zu verlangen, (iii)
            von
            uns zu
            verlangen, die Verarbeitung Ihrer personenbezogenen Daten einzuschränken, und (iv) unter bestimmten
            Umständen
            der
            Verarbeitung Ihrer personenbezogenen Daten zu widersprechen oder die für das Verarbeiten zuvor gegebene
            Einwilligung
            zu widerrufen, (v) Datenübertragbarkeit zu verlangen, (vi) die Identität von Dritten, an welche Ihre
            personenbezogenen Daten übermittelt werden, zu kennen und (vii) bei der zuständigen Behörde, das ist die für
            den
            Ort
            Ihres gewöhnliches Aufenthalts, Ihre Arbeitsstelle oder des Orts des mutmaßlichen Verstoßes zuständige
            Datenschutzbehörde, Beschwerde zu erheben.</span>
        <span>Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit an uns unter
            der
            oben
            angeführten Kontaktadresse wenden. </span>
        <br>
        <br>
        <h3>SSL- bzw. TLS-Verschlüsselung auf der Website:</h3>
        <span>Wir nutzen aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte eine SSL- bzw.
            TLS-Verschlüsselung.</span>
        <span>Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf
            „https://“
            wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.</span>

        <span>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht
            von Dritten mitgelesen werden.
        </span>
        <br>
        <br>
        <h3>Cookies & Server</h3>
        <h3>Cookies:</h3>
        <span>Unsere Seiten verwenden teilweise so genannte Cookies. Cookies sind kleine Dateien, die es ermöglichen,
            auf
            dem
            Zugriffsgerät der Nutzer (PC, Smartphone o.ä.) spezifische, auf das Gerät bezogene Informationen zu
            speichern.
            Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Sie dienen zum einem der
            Benutzerfreundlichkeit von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen
            dienen
            sie, um die statistischen Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes
            analysieren zu können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen.</span>
        <span>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres
            Besuchs
            automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese
            Cookies
            ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen. Sie können Ihren Browser so
            konfigurieren,
            dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme
            von
            Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim
            Schließen
            des
            Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität unserer Seiten eingeschränkt
            sein.</span>
        <span>Wenn Cookies von Drittanbietern oder zu Zwecken der Analyse verwendet werden, werden Sie darüber in dieser
            Datenschutzerklärung oder gesondert informieren und bei Notwendigkeit Ihre Zustimmung abfragen. </span>
        <br>
        <br>
        <h3>Folgende Cookies samt der jeweiligen Speicherdauer liegen vor:</h3>
        <span>PHPSESSID – Session – 2 Stunden</span>
        <span>Vc – Statistik – 30 Tage</span>
        <span>wsw-logger-session-id – Statistik & Session – 2 Stunden</span>
        <span>wbs_wdiget_session – Session / Formulare – 2 Stunden</span>

        <br>
        <br>
        <h3>Registrierung auf der Website:</h3>
        <span>Soweit auf unseren Seiten oder Formularen personenbezogene Daten (beispielsweise Name, Anschrift,
            Geburtsdatum
            oder E-Mail-Adressen) erhoben werden oder Sie eine Registrierung durchführen, erfolgt dies stets auf
            freiwilliger
            Basis.</span>

        <span>Die im Rahmen einer Kontaktaufnahme elektronisch oder physisch eingegebenen oder im Zuge der Anbahnung
            oder
            Durchführung unserer Geschäftsbeziehung erfassten Daten werden für die Zwecke der Nutzung des Angebotes
            verwendet.
            Das sind in der Regel etwa:</span>
        <span>Vor- und Nachname</span>
        <span>E-Mail-Adresse</span>
        <span>Telefonnummer</span>
        <span>Sonstige Kontaktdaten</span>
        <br>
        <br>
        <h3>Cloud-Daten</h3>
        <h3>Google Drive:</h3>
        <span>Wir haben Google Drive auf dieser Website eingebunden. Anbieter ist die Google Inc., 600 Amphitheatre
            Parkway, Mountain View, CA 94043, USA („Google“).
        </span>
        <span>Google Drive ermöglicht es uns, einen Uploadbereich auf unserer Website einzubinden, in dem Sie Inhalte
            hochladen
            können. Wenn Sie Inhalte hochladen, werden diese auf den Servern von Google Drive gespeichert. Wenn Sie
            unsere
            Website betreten, wird außerdem eine Verbindung zu Google Drive aufgebaut, sodass Google Drive feststellen
            kann,
            dass Sie unsere Website besucht haben.
        </span>
        <span>Die Verwendung von Google Drive erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Seitenbetreiber
            hat
            ein
            berechtigtes Interesse an einem Uploadservice auf seiner Website. </span>

        <span>Die durch diesen Dienst erfassten Daten werden in ein Drittland (USA) übermittelt. Ihre ausdrückliche
            Einwilligung
            bildet gemäß Art 49 Abs 1 lit a iVm Art 6 Abs 1 lit a DSGVO zudem die Rechtsgrundlage für diese
            Datenübermittlung.
            Bereits vor Ihrer Einwilligung haben wir Sie darüber informiert, dass die USA im Moment über kein den
            Standards
            der
            EU entsprechendes Datenschutzniveau verfügen. Der Europäische Gerichtshof hat aus diesem Grund das “Privacy
            Shield”
            (Angemessenheitsbeschluss gem. Art 45 DSGVO) für ungültig erklärt.
        </span>
        <span>Sie haben die Möglichkeit, Ihre Einwilligung zur Datenverarbeitung jederzeit zu widerrufen.</span>
    </div>
</div>