<div class="sign-up-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="desctop" src="./../../assets/Logo.png" alt="videoflix">
            <img class="mobile" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-in-button" (click)="logIn()">Log in</button>
    </div>
    <div class="content-contain">
        <form #registerForm="ngForm" novalidate class="content">
            <h2>Sign Up</h2>
            <div class="frame178">
                <div class="email-contain">
                    <input class="email" type="email" placeholder="Email Address" [(ngModel)]="emailaddress"
                        name="email" required #email="ngModel" [class.error]="email.invalid && email.touched" email />
                    <div class="error-message-contain">
                        <div *ngIf="email.invalid && email.touched" class="error-message">
                            <img src="./../../assets/warning.png" alt="" /> Email is required and must be valid.
                        </div>
                    </div>
                </div>
                <div class="password-contain">
                    <input class="password" [type]="passwordFieldType" placeholder="Password" [(ngModel)]="password"
                        name="password" required minlength="6" #passwordField="ngModel"
                        (ngModelChange)="validatePasswords()" />
                    <img src="./../../assets/visibility.png" alt="Toggle visibility"
                        (click)="togglePasswordVisibility()" style="cursor:pointer" />
                </div>
                <div>
                    <div class="password-contain">
                        <input class="password" [type]="passwordFieldType" placeholder="Confirm Password"
                            [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6"
                            #confirmPasswordField="ngModel" (ngModelChange)="validatePasswords()" />
                        <img src="./../../assets/visibility.png" alt="Toggle visibility"
                            (click)="togglePasswordVisibility()" style="cursor:pointer" />
                    </div>
                    <div class="error-message-contain">
                        <div *ngIf="passwordError" class="error-message">
                            <img src="./../../assets/warning.png" alt="" /> {{ passwordError }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="send-button">
                <button type="submit" class="button-active"
                    [disabled]="email.invalid || passwordField.invalid || confirmPasswordField.invalid || passwordError"
                    (click)="register()">Get
                    Started</button>
            </div>
        </form>
    </div>


<app-footer></app-footer>