<div class="imprint-contain" id="imprint">
    <div class="imprint-text">
        <div class="back-contain">
            <h2>Impressum</h2>
            <img src="/assets/arrow.ico" alt="button um zu dem startmenu zu gelanden" (click)="back()">
        </div>
        <br>
        <span>Juri Sajzew</span>
        <span>Schönblickstraße 48a</span>
        <span>75323 Bad Wildbad</span>
        <br>
        <span>Telefonnummer: 01512456145</span>
        <span>E-Mail Adresse: info&#64;juridev.de</span>
        <br>
        <span>Vertreten durch: Juri Sajzew</span>
        <span>Vorstandsvorsitzender: Juri Sajzew</span>
    </div>
</div>