<div class="forgot-password-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="desctop" src="./../../assets/Logo.png" alt="videoflix">
            <img class="mobile" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-in-button" (click)="startlogIn()">Log in</button>
    </div>

    <div class="content">
        <h2>Reset your password</h2>
        <form (ngSubmit)="resetPassword()" class="frame178">
            <div class="password-contain">
                <input class="password" [type]="passwordFieldType" placeholder="Password" [(ngModel)]="newPassword"
                    name="password" required minlength="6" #passwordField="ngModel"
                    (ngModelChange)="validatePasswords()" />
                <img src="./../../assets/visibility.png" alt="Toggle visibility" (click)="togglePasswordVisibility()"
                    style="cursor:pointer" />
            </div>
            <div class="password-contain">
                <input class="password" [type]="passwordFieldType" placeholder="Confirm Password"
                    [(ngModel)]="confirmPassword" name="confirmPassword" required minlength="6"
                    #confirmPasswordField="ngModel" (ngModelChange)="validatePasswords()" />
                <img src="./../../assets/visibility.png" alt="Toggle visibility" (click)="togglePasswordVisibility()"
                    style="cursor:pointer" />
            </div>
            <div *ngIf="passwordError" class="error-message">
                <img src="./../../assets/warning.png" alt="" /> {{ passwordError }}
            </div>
            <div class="send-email-button">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>