<div class="forgot-password-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="desctop" src="./../../assets/Logo.png" alt="videoflix">
            <img class="mobile" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-in-button" (click)="startlogIn()">Log in</button>
    </div>

    <div class="content-contain">
        <form (ngSubmit)="forgotPassword()">
            <div class="content">
                <h2>Forgot your password?</h2>
                <div class="frame178">
                    <span>We will send you an email with instructions to reset your password.</span>
                    <div class="email-contain">
                        <input class="email" type="email" placeholder="Email Address" [(ngModel)]="email" name="email"
                            (input)="checkEmail()">
                    </div>
                    <div class="send-email-button">
                        <button class="button-active" [disabled]="!isEmailValid">Send
                            Email</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <app-footer></app-footer>
</div>

<div *ngIf="showCard" class="showCard">
    <div class="red-color"></div>
    <div class="warn-text-contain">
        <div class="warning">
            <img src="./../../assets/ExclamationCircleFill.svg" alt="" (click)="closeCard()">
        </div>
        <div class="text">
            {{ errorMessage }}
        </div>
    </div>
    <div class="close-contain">
        <img src="./../../assets/close_small.svg" alt="">
    </div>
</div>