<div class="forgot-password-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="desctop" src="./../../assets/Logo.png" alt="videoflix">
            <img class="mobile" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-in-button" (click)="startlogIn()">Log in</button>
    </div>


    <form (ngSubmit)="forgotPassword()">
        <div class="content">
            <h2>Forgot your password?</h2>
            <div class="frame178">
                <span>We will send you an email with instructions to reset your password.</span>
                <div class="email-contain">
                    <input class="email" type="email" placeholder="Email Address" [(ngModel)]="email" name="email"
                        (input)="checkEmail()">
                </div>
                <div class="error-message-contain">
                    <div *ngIf="errorMessage" class="error-message">
                        <img src="./../../assets/warning.png" alt="" />{{ errorMessage }}
                    </div>
                </div>
                <div class="send-email-button">
                    <button class="button-active">Send
                        Email</button>
                </div>
            </div>
        </div>
    </form>
</div>