@import "./../../fonts.styles.scss";
@import "./../../styles.scss";

mat-card {
    background-color: #fff;
    width: 310px !important;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-size: 17px;
        line-height: 10px;
    }

    span {
        color: #2e3edf;
        text-align: center;
    }
}