<div class="forgot-password-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="mobile, desktop" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-out-button" (click)="logout()">
            <img src="./../../assets/logout.png" alt="">
            Log Out</button>
    </div>
    <div class="video-content" *ngIf="allVideos.length">
        <div class="new-on-videoflix">
            <p>New on Videoflix</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of newVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: true, 
                        controls: true, 
                        sources: [{ src: video.video_file, 
                        type: 'video/mp4' }]}">
                    </app-vjs-player>
                </div>
            </div>
        </div>
        <div class="documentary">
            <p>Documentary</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of documentaryVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: true, 
                        controls: true, 
                        sources: [{ src: video.video_file, 
                        type: 'video/mp4' }]}">
                    </app-vjs-player>
                </div>
            </div>
        </div>
        <div class="drama">
            <p>Drama</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of dramaVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: true, 
                        controls: true, 
                        sources: [{ src: video.video_file, 
                        type: 'video/mp4' }]}">
                    </app-vjs-player>
                </div>
            </div>
        </div>
        <div class="romance">
            <p>Romance</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of romanceVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: true, 
                        controls: true, 
                        sources: [{ src: video.video_file, 
                        type: 'video/mp4' }]}">
                    </app-vjs-player>
                </div>
            </div>
        </div>
    </div>
</div>