<div class="startscreen-contain">
    <div class="nav-contain">
        <div class="logo-contain">
            <img class="mobile, desktop" src="./../../assets/logo_mobile.png" alt="pfeil nach rechts">
        </div>
        <button class="log-out-button" (click)="logout()">
            <img src="./../../assets/logout.png" alt="">
            Log Out</button>
    </div>
    <div class="startscreen-video">
        <app-vjs-player class="startscreen" [options]="{
            fluid: true, 
            aspectRatio: '16:9',
            autoplay: true, 
            controls: true, 
            poster: '/assets/breakout.png',
            sources: [{ src:'/assets/Breakout.mp4', type: 'video/mp4' }]
        }">
        </app-vjs-player>
        <div class="video-overlay">
            <h2 class="video-title">Breakout</h2>
            <p class="video-description">
                In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
                his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
                truth.
            </p>
        </div>
    </div>
    <div class="video-content" *ngIf="allVideos.length">
        <div class="new-on-videoflix">
            <p>New on Videoflix</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of newVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: false, 
                        controls: true, 
                        poster: video.cover_image,
                        sources: [{ src: video.video_urls[selectedQuality] || '', 
                    type: 'application/x-mpegURL' }]
                    }" [videoUrls]="video.video_urls" (qualityChange)="onQualityChange($event)">
                    </app-vjs-player>
                    <img src="./assets/info.png" alt="info Button" class="info_button"
                        (mouseenter)="video.showDescription = true" (mouseleave)="video.showDescription = false">
                </div>
                <div class="description_contain" *ngFor="let video of newVideos"
                    [ngClass]="{'visible': video.showDescription}">
                    <span>{{video.description}}</span>
                </div>
            </div>
        </div>
        <div class="documentary">
            <p>Documentary</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of documentaryVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: false, 
                        controls: true, 
                        poster: video.cover_image,
                        sources: [{ src: video.video_urls[selectedQuality] || '', 
                     type: 'application/x-mpegURL' }]
                     }" [videoUrls]="video.video_urls" (qualityChange)="onQualityChange($event)">
                    </app-vjs-player>
                    <img src="./assets/info.png" alt="info Button" class="info_button"
                        (mouseenter)="video.showDescription = true" (mouseleave)="video.showDescription = false">
                </div>
                <div class="description_contain" *ngFor="let video of documentaryVideos"
                    [ngClass]="{'visible': video.showDescription}">
                    <span>{{video.description}}</span>
                </div>
            </div>
        </div>
        <div class="drama">
            <p>Drama</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of dramaVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: false, 
                        controls: true,
                        poster: video.cover_image,
                       sources: [{ src: video.video_urls[selectedQuality] || '', 
                    type: 'application/x-mpegURL' }]
                    }" [videoUrls]="video.video_urls" (qualityChange)="onQualityChange($event)">
                    </app-vjs-player>
                    <img src="./assets/info.png" alt="info Button" class="info_button"
                        (mouseenter)="video.showDescription = true" (mouseleave)="video.showDescription = false">
                </div>
                <div class="description_contain" *ngFor="let video of dramaVideos"
                    [ngClass]="{'visible': video.showDescription}">
                    <span>{{video.description}}</span>
                </div>
            </div>
        </div>
        <div class="romance">
            <p>Romance</p>
            <div class="frame167">
                <div class="video-contain" *ngFor="let video of romanceVideos">
                    <app-vjs-player [options]="{
                        fluid: true, 
                        aspectRatio: '16:9', 
                        autoplay: false, 
                        controls: true, 
                        poster: video.cover_image,
                        sources: [{ src: video.video_urls[selectedQuality] || '', 
                    type: 'application/x-mpegURL' }]
                    }" [videoUrls]="video.video_urls" (qualityChange)="onQualityChange($event)">
                    </app-vjs-player>
                    <img src="./assets/info.png" alt="info Button" class="info_button"
                        (mouseenter)="video.showDescription = true" (mouseleave)="video.showDescription = false">
                </div>
                <div class="description_contain" *ngFor="let video of romanceVideos"
                    [ngClass]="{'visible': video.showDescription}">
                    <span>{{video.description}}</span>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>