/* You can add global styles to this file, and also import other style files */
@import './fonts.styles.scss';

body {
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: DM Sans, Arial, Helvetica, sans-serif !important;
}
